

    <div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                Agregar Asesor
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>  {{#link-to "principal"}}Inicio{{/link-to}}
                                </li>
                                <li class="active">Agregar Asesor</li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="portlet portlet-default">
                            <div class="portlet-body">
                                <ul id="userTab" class="nav nav-tabs">
                                    <li><a href="#profile-settings" data-toggle="tab">Agregar Perfil</a>
                                    </li>
                                </ul>
                                <div id="userTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="profile-settings">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                                    <li class="active"><a href="#basicInformation" data-toggle="tab"><i class="fa fa-user fa-fw"></i>Información</a>
                                                    </li>
                                                    <li><a href="#profilePicture" data-toggle="tab"><i class="fa fa-picture-o fa-fw"></i> Foto de perfil</a>
                                                    </li>
                                                    <br>
                                                    <li>{{#link-to "tablaasesores" class="btn btn-info"}}Ver lista de asesores{{/link-to}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9">
                                                <div id="userSettingsContent" class="tab-content">
                                                    <div class="tab-pane fade in active" id="basicInformation">
                                                        <form role="form">
                                                            <h4 class="page-header">Información personal:</h4>
                                                            <div class="form-group">
                                                                <label>Profesión</label>
                                                                {{input type="text" class="form-control" value=model.profesion}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Nómina</label>
                                                                {{input type="text" class="form-control" value=model.nomina}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Nombre</label>
                                                                {{input type="text" class="form-control" value=model.nombre}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Apellidos</label>
                                                                {{input type="text" class="form-control" value=model.apellidos}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Área o Departamento</label>
                                                                <select class="form-control" onchange={{action (mut model.departamento) value="target.value"}}>
                                                                    <option disabled selected>Selecciona</option>
                                                                     <option value="Servicio Médico" selected={{eq cargo.comite "Servicio Médico"}}>Servicio Médico</option>
                                                                     <option value="Nutrición" selected={{eq cargo.comite "Nutrición"}}>Nutrición</option>
                                                                     <option value="Asesoria Psicopedagógica" selected={{eq cargo.comite "Asesoria Psicopedagógica"}}>Asesoria Psicopedagógica</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Lider</label>
                                                                {{input type="text" class="form-control" value=model.lider}}
                                                            </div>
                                                            <h4 class="page-header">Detalles de contacto</h4>
                                                            <div class="form-group">
                                                                <label>Horario de atención</label>
                                                                {{input type="text" class="form-control" value=model.horario}}
                                                                <br>
                                                                <div class="input-append bootstrap-timepicker input-group">
                                                                    {{input id="timepicker1" class="form-control" type="text" value=model.horarioInit}}
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-default add-on" type="button"><i class="fa fa-clock-o"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                                <br>
                                                                <div class="input-append bootstrap-timepicker input-group">
                                                                    {{input id="timepicker2" class="form-control" type="text" value=model.horarioEnd}} 
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-default add-on" type="button"><i class="fa fa-clock-o"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Teléfono</label>
                                                                {{input type="tel" class="form-control" value=model.telefono}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Ubicación en el campus</label>
                                                                {{input type="text" class="form-control" value=model.ubicacion}}
                                                            </div>
                                                            <div class="form-group">
                                                                <label><i class="fa fa-envelope-o fa-fw"></i> Correo electrónico</label>
                                                                {{input type="email" class="form-control" value=model.email}}
                                                            </div>
                                                            <button {{action 'save' model}}type="button" class="btn btn-default">Guardar</button>
                                                            <button type="reset" class="btn btn-green">Cancelar</button>
                                                        </form>
                                                    </div>
                                                    <div class="tab-pane fade" id="profilePicture">
                                                        <img class="img-responsive img-profile" src="{{or model.foto "https://www.teksteshqip.com/img_upz/allart_full/63351.jpg"}}" height="250px" width="250px" alt="Foto de perfil">
                                                        <br>
                                                        <form role="form">
                                                            <div class="form-group">
                                                                <label>Adjuntar nueva imagen</label>
                                                                <input type="file" onchange={{action 'savePhoto'}} id="foto">
                                                                <p class="help-block"><i class="fa fa-warning"></i> La imagen debe de ser máximo de 500x500 px. Formatos soportados: JPG, GIF, PNG</p>
                                                                <button {{action 'save' model}}  type="submit" class="btn btn-default">Guardar</button>
                                                                <button type="reset" class="btn btn-green">Cancelar</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->


                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->

    



{{outlet}}
    <script src="js/flex.js"></script>
<script src="js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>

<script type="text/javascript">
$('#timepicker1').timepicker();
$('#timepicker2').timepicker();
</script>