
<div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>
                                Editar Cuestionario
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i> {{#link-to 'principal'}}Inicio{{/link-to}}
                                </li>
                                <li class="active">Editar Pregunta</li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <div class="row">
                    <div class="col-lg-12">

                        <div class="portlet portlet-default">
                            <div class="portlet-body">
                                <ul id="userTab" class="nav nav-tabs">
                                    <li class="active"><a href="#profile-settings" data-toggle="tab">Editar Pregunta</a>
                                    </li>
                                </ul>
                                <div id="userTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="profile-settings">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <ul id="userSettings" class="nav nav-pills nav-stacked">
                                                    <li class="active"><a href="#basicInformation" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>Editar Pregunta</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-9">
                                                <div id="userSettingsContent" class="tab-content">
                                                    <div class="tab-pane fade in active" id="basicInformation">
                                                        <form role="form">
                                                            <h4 class="page-header">Editar información de la pregunta:</h4>
                                                            <div class="form-group">
                                                                <label>Pregunta actual:</label>
                                                                {{input type="text" class="form-control" value=model.pregunta disabled=true}}
                                                                <br>
                                                                <label>Respuestas:</label>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="" disabled>{{model.respuesta1}}
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="" disabled>{{model.respuesta2}}
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="" disabled>{{model.respuesta3}}
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="" disabled>{{model.respuesta4}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Nueva pregunta:</label>
                                                                {{input type="text" class="form-control" value=newPregunta}}
                                                                <br>
                                                                <label>Respuestas:</label>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="">{{input type="text" class="form-control" value=R1}}
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="">{{input type="text" class="form-control" value=R2}}
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="">{{input type="text" class="form-control" value=R3}}
                                                                    </label>
                                                                </div>
                                                                <div class="radio">
                                                                    <label>
                                                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="">{{input type="text" class="form-control" value=R4}}
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <button {{action 'save' model newPregunta R1 R2 R3 R4}} type="submit" class="btn btn-default">Guardar</button>
                                                            {{#link-to 'cuestionario' class="btn btn-green"}}Cancelar{{/link-to}}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->


                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.page-content -->

        </div>

{{outlet}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/hisrc/hisrc.js"></script>
    <script src="/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="/js/plugins/popupoverlay/defaults.js"></script>

    <script src="/js/plugins/popupoverlay/logout.js"></script>



    <script src="/js/flex.js"></script>
    
<script src="/js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>