

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1>Lista de Alumnos
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>{{#link-to 'principal'}}Inicio{{/link-to}}
                                </li>
                                <li class="active">Tabla de alumnos</li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <!-- begin ADVANCED TABLES ROW -->
                <div class="row">

                    <div class="col-lg-12">

                        <div class="portlet portlet-default">
                            <div class="portlet-heading">
                                <div class="portlet-title">
                                    <h4>Alumnos registrados</h4>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">
                                    <table id="example-table" class="table table-striped table-bordered table-hover table-green">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Sexo</th>
                                                <th>Edad</th>
                                                <th>Nivel</th>
                                                <th>Perfil Completo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each model as |alumno|}}
                                            <tr class="odd gradeX">
                                                <td>{{alumno.nombre}} {{alumno.apellidoP}} {{alumno.apellidoM}}</td>
                                                <td>{{alumno.sexo}}</td>
                                                <td>{{alumno.edad}}</td>
                                                <td>{{alumno.nivel}}</td>
                                                <td class="center">{{#link-to "perfilalumno" alumno.id class="btn btn-info"}}Ver más{{/link-to}}</td>
                                            </tr>
                                            {{/each}}

                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.portlet-body -->
                        </div>
                        <!-- /.portlet -->

                    </div>
                    <!-- /.col-lg-12 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.page-content -->

        </div>




{{outlet}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/js/plugins/hisrc/hisrc.js"></script>
    <script src="/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="/js/plugins/popupoverlay/defaults.js"></script>

    <script src="/js/plugins/popupoverlay/logout.js"></script>
    <script src="js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="js/plugins/datatables/datatables-bs3.js"></script>



    <script src="/js/flex.js"></script>
    <script src="/js/demo/advanced-tables-demo.js"></script>
    
<script src="/js/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>